*, *:after, *:before
  box-sizing border-box

html, body
  font-family: 'Dosis', sans-serif;
  font-size 16px
  box-sizing inherit
  margin 0
  padding 0
  margin-top -1.2em
  background #89c1ff

footer
  margin 0 auto
  text-align center

main
  font-size 2rem
  color #fff
  margin 0 auto
  text-align center
  height auto
  margin-left 10%

.header--header
  position fixed
  left 0
  top 0
  padding 0
  margin 0
  max-height 100%

.avatar--header
  position relative
  height 100vh
  width auto

.main--article
  margin  0 auto
  text-align left
  max-width 300px

.textos--header
  max-width 40%
  margin 0 auto
  text-align center

.icon
  float right
  padding-top 1rem
  padding-right 1rem

.icon--social
  display inline-block
  float left
  width 50px
  margin-right .5rem

.texto--light
  font-weight 300

.normal--font
  font-weight 400

/* @media all and(max-width: 1225px) */